<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969308717730-k52i1q7oes9778voiljp7raomovj3gop.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969308717730-k52i1q7oes9778voiljp7raomovj3gop</string>
	<key>API_KEY</key>
	<string>AIzaSyCNe2YcqgKkO1roLrNdZAcpMI8SkbI59hM</string>
	<key>GCM_SENDER_ID</key>
	<string>969308717730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.last</string>
	<key>PROJECT_ID</key>
	<string>last-fd99b</string>
	<key>STORAGE_BUCKET</key>
	<string>last-fd99b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969308717730:ios:ba8245f36ce1eedb790dfb</string>
</dict>
</plist>